Source: swh-objstorage
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-flask,
               python3-nose,
               python3-requests,
               python3-setuptools,
               python3-swh.core (>= 0.0.20~),
               python3-swh.storage.archiver (>= 0.0.52~),
               python3-click,
               python3-libcloud,
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DOBJS/

Package: python3-swh.objstorage
Architecture: all
Depends: python3-swh.core (>= 0.0.20~), ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Object Storage

Package: python3-swh.objstorage.checker
Architecture: all
Depends: python3-swh.objstorage (= ${binary:Version}), python3-swh.storage.archiver (>= 0.0.52~),
         ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Object Storage Checker

Package: python3-swh.objstorage.cloud
Architecture: all
Depends: python3-swh.objstorage (= ${binary:Version}), python3-libcloud,
         ${misc:Depends}, ${python3:Depends}
Breaks: python3-swh.objstorage (<= 0.0.7~)
Description: Software Heritage Cloud Object Storage

