#!/usr/bin/make -f

export PYBUILD_NAME=swh.objstorage
export PYBUILD_TEST_ARGS=--with-doctest -sv -a !db,!fs

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
	for pyvers in $(shell py3versions -vr); do \
		mkdir -p $(CURDIR)/debian/python3-swh.objstorage.cloud/usr/lib/python$$pyvers/dist-packages/swh/objstorage/cloud ; \
		mkdir -p $(CURDIR)/debian/python3-swh.objstorage.rados/usr/lib/python$$pyvers/dist-packages/swh/objstorage ; \
		mv $(CURDIR)/debian/python3-swh.objstorage/usr/lib/python$$pyvers/dist-packages/swh/objstorage/cloud/* \
		$(CURDIR)/debian/python3-swh.objstorage.cloud/usr/lib/python$$pyvers/dist-packages/swh/objstorage/cloud/ ; \
		mv $(CURDIR)/debian/python3-swh.objstorage/usr/lib/python$$pyvers/dist-packages/swh/objstorage/objstorage_rados.py \
		$(CURDIR)/debian/python3-swh.objstorage.rados/usr/lib/python$$pyvers/dist-packages/swh/objstorage/ ; \
	done

override_dh_auto_test:
	no_proxy=127.0.0.1 dh_auto_test
