#!/usr/bin/make -f

export PYBUILD_NAME=swh.objstorage
export PYBUILD_TEST_ARGS=-vv

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py
	set -e; for pyvers in $(shell py3versions -vr); do \
		mkdir -p $(CURDIR)/debian/python3-swh.objstorage.cloud/usr/lib/python$$pyvers/dist-packages/swh/objstorage/backends ; \
		mv $(CURDIR)/debian/python3-swh.objstorage/usr/lib/python$$pyvers/dist-packages/swh/objstorage/backends/azure.py \
		   $(CURDIR)/debian/python3-swh.objstorage/usr/lib/python$$pyvers/dist-packages/swh/objstorage/backends/libcloud.py \
		   $(CURDIR)/debian/python3-swh.objstorage.cloud/usr/lib/python$$pyvers/dist-packages/swh/objstorage/backends ; \
	done

override_dh_auto_test:
	no_proxy=127.0.0.1 dh_auto_test
